
tools/filemirror/.vs/filemirror/v16/.suo
tools/filemirror/filemirror/bin/Debug/net5.0/filemirror.deps.json
tools/filemirror/filemirror/bin/Debug/net5.0/filemirror.dll
tools/filemirror/filemirror/bin/Debug/net5.0/filemirror.exe
tools/filemirror/filemirror/bin/Debug/net5.0/filemirror.pdb
tools/filemirror/filemirror/bin/Debug/net5.0/filemirror.runtimeconfig.dev.json
tools/filemirror/filemirror/bin/Debug/net5.0/filemirror.runtimeconfig.json
tools/filemirror/filemirror/bin/Debug/net5.0/ref/filemirror.dll
/tools/filemirror/filemirror/obj
